<section class="section fs-search bg-pattern">
    <div class="container-fluid">
        <h2 class="section-title hl-1 text-center" translate="SEARCH.TERM"></h2>

        <form method="post" role="form">
            <div class="form-group has-feedback">
                <input ng-keypress="$ctrl.onSearchInput($event)" ng-model="$ctrl.searchTerm" type="search" class="form-control"
                       ng-attr-placeholder="{{'SEARCH.PLACEHOLDER' | translate}}">
                <span class="form-control-feedback icon-search" aria-hidden="true"></span>
            </div>
        </form>
    </div>
</section>

<section ng-if="$ctrl.totalLength === 0" class="section fs-headline">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h4 class="hl-4 section-title" translate="SEARCH.NO.RESULT.HEADLINE"
                    ng-init="$ctrl.copySearchTerm = $ctrl.searchTerm"
                    translate-values="{searchTerm: $ctrl.copySearchTerm}"></h4>
                <ul class="checklist margin-top">
                    <li ng-bind-html="$ctrl.contactText"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section ng-if="$ctrl.totalLength > 0" class="section fs-search-results js-waypoint-start">
    <div class="container-fluid">
        <div class="flex-row js-waypoint-end">
            <div class="col-xs-12 col-md-4">
                <nav hl-sticky offset-top="100" id="nav-search-results" class="hidden-print hidden-xs hidden-sm">
                    <h3 class="hl-4 m-t-0" translate="SEARCH.QUICKNAVIGATION"></h3>
                    <ul class="nav">
                        <li ng-repeat="(group, results) in $ctrl.finalSearchResults">
                            <a ng-click="$ctrl.goToAnchor(group)"><span translate="SEARCH.CHANNEL.{{group}}"></span>&nbsp;<span class="search-results-count">({{results.length}})</span></a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-xs-12 col-md-8">
                <div id="search-results">
                    <div class="search-results-header hidden-md hidden-lg">
                        <div class="dropdown">
                            <a class="hl-3 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{'SEARCH.TOTAL.COUNT' | translate}} <span class="search-results-count">({{$ctrl.totalLength}})</span></a>
                            <ul id="nav-search-results-dropdown" class="dropdown-menu">
                                <li class="active">
                                    <a>{{'SEARCH.TOTAL.COUNT' | translate}} <span class="search-results-count">({{$ctrl.totalLength}})</span></a>
                                </li>
                                <li ng-repeat="(group, results) in $ctrl.finalSearchResults">
                                    <a ng-click="$ctrl.goToAnchor(group)"><span translate="SEARCH.CHANNEL.{{group}}"></span>&nbsp;<span class="search-results-count">({{results.length}})</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div ng-repeat="(group, results) in $ctrl.finalSearchResults" ng-if="results.length > 0" id="{{group}}" class="search-results-category">
                        <div class="category-header hidden-xs hidden-sm">
                            <h3><span translate="SEARCH.CHANNEL.{{group}}"></span>&nbsp;<span class="search-results-count">({{results.length}})</span></h3>
                        </div>

                        <div class="search-result media" ng-repeat="item in results track by $index">
                            <div class="media-left">
                                <a><img src class="media-object" http-src="item.imageUrl"
                                        alt="{{item.name}}" title="{{item.name}}"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{item.name}}</h4>
                                <p>{{item.text}}</p>
                                <a ng-click="$ctrl.goMore(item, group)" class="link-more" translate="MORE.DETAILS"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
