<catalog-template catalog-id="vm.catalogId">
    <section ng-if="vm.catalog.showImage()" class="section fs-keyvisual p-a-0">
        <div class="slide">
            <div class="slide-image slide-image-transparent-30">
                <img class="img-responsive" ng-src="{{vm.catalog.image.value | imageUrl: 'img-lg'}}" alt="{{vm.catalog.name.value}}" title="{{vm.catalog.name.value}}">
            </div>
            <div class="slide-caption text-center">
                <h1 class="hl-1 slide-title" ng-if="vm.catalog.name">{{vm.catalog.name.value}}</h1>
                <p ng-if="vm.catalog.title">{{vm.catalog.title.value}}</p>
            </div>
        </div>
    </section>
    <!-- END Keyvisual -->

    <section class="section fs-headline" ng-if="vm.catalog.description">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>{{vm.catalog.description.value}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END Headline -->

    <section ng-if="vm.catalog.showTiles()" class="section fs-four-column-media-teaser">
        <div class="container-fluid">
            <div class="flex-row">
                <a class="card col-xs-6 col-sm-4 col-md-3" ng-repeat="tile in vm.catalog.tiles" ocs-navigate="tile.id.value">
                    <img class="card-img-top img-responsive img-widen" ng-src="{{tile.image.value | imageUrl: 'img-sm'}}" alt="{{tile.name.value}}" title="{{tile.name.value}}">
                    <div class="card-block" ng-if="tile.title" equalize-teaser-height>
                        <div class="card-title hl-4 text-wrap">{{tile.title.value}}</div>
                        <p class="card-text">{{tile.description.value}}</p>
                    </div>
                    <div class="card-block-link">
                        <span class="link-more" translate="MORE.DETAILS"></span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- END 4-Column-Media-Teaser -->

    <section ng-if="vm.catalog.showList()" class="section fs-two-column-square-media-text">
        <div class="container-fluid bg-grey-light" ng-repeat="item in vm.catalog.list">
            <div class="flex-row">
                <div class="col-sm-4 col-media">
                    <div class="relative-container" ng-if="item.new.value">
                        <div class="label-container small left">
                            <div class="label-wrapper-outer">
                                <div class="label-wrapper-inner">
                                    <div class="label-content" translate="NEW.LABEL"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="img-responsive img-widen" ng-src="{{item.image.value | imageUrl: 'img-md'}}" alt="{{item.name.value}}" title="{{item.name.value}}">
                </div>
                <div class="col-sm-8 col-text">
                    <div class="hl-3 column-title text-primary">
                        <a ocs-navigate="item.id.value">{{item.title.value}}</a>
                    </div>
                    <ul class="checklist" ng-if="item.bullets.length">
                        <li ng-repeat="bullet in item.bullets">{{bullet}}</li>
                    </ul>
                    <ul class="list-inline button-list">
                        <li><a class="btn btn-primary" ocs-navigate="item.id.value"><span translate="MORE.DETAILS"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END 2-Column-Media-Text -->

    <section ng-if="vm.catalog.showTeaser()" class="section fs-two-column-media-text-with-logo bg-grey">
        <div class="container-fluid">
            <div class="row" ng-if="vm.catalog.new.value">
                <div class="relative-container">
                    <div class="label-container large right">
                        <div class="label-wrapper-outer">
                            <div class="label-wrapper-inner">
                                <div class="label-content" translate="NEW.LABEL"></div>
                            </div>
                        </div>
                        <div class="label-wrapper-outer">
                            <img class="" ng-src="{{vm.catalog.newImage}}" alt="" title="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-media">
                    <div class="js-slick-slider slick-image-slider"
                         data-slick='{"arrows": false, "dots": true, "autoplay": true, "autoplaySpeed": 4000, "speed": 1000, "cssEase": "ease-in-out"}'>
                        <div class="slide">
                            <img class="img-responsive img-widen" ng-src="{{vm.catalog.image.value | imageUrl: 'img-md'}}" alt="{{vm.catalog.name.value}}" title="{{vm.catalog.name.value}}">
                            <img class="img-overlay" ng-if="vm.catalog.energyEfficiency.image" ng-src="{{vm.catalog.energyEfficiency.image.value}}" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-text">
                    <h1 class="hl-2 product-name">{{vm.catalog.name.value}}</h1>
                    <p>{{vm.catalog.title.value}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END 2-Column-Media-Text -->
    <section class="section fs-two-column-headline-text bg-grey-dark" ng-if="vm.catalog.showTechnicalInformation()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="section-title" translate="TECHNICAL.INFORMATION"></h2>
                </div>
                <div class="col-sm-8">
                    <ul class="checklist">
                        <li ng-repeat="info in vm.catalog.technicalInformation">{{info}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END 2-Column-Headline-Text -->
    <section class="section fs-two-column-icon-accordion" ng-if="vm.catalog.showMoreDetails()">
        <div class="container-fluid">
            <h2 class="section-title text-primary text-center">{{vm.catalog.moreDetails.title.value}}</h2>
            <div id="acrd-872921587" class="accordion panel-group m-b-0" role="tablist" aria-multiselectable="true">
                <div class="panel" ng-repeat="item in vm.catalog.moreDetails.elements">
                    <div id="acrd-872921587-heading-{{$index}}" class="panel-heading" role="tab">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acrd-872921587" data-target="#acrd-872921587-panel-{{$index}}"
                               aria-controls="acrd-872921587-panel-{{$index}}" aria-expanded="false">
                                {{item.title}}
                            </a>
                        </h3>
                    </div>
                    <div id="acrd-872921587-panel-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="acrd-872921587-heading-{{$index}}">
                        <article class="panel-body article">
                            <p ng-if="!item.description.elements" ng-bind-html="item.description | convertWhitespaces"></p>
                            <ul ng-if="item.description.elements">
                                <li ng-repeat="el in item.description.elements">{{el}}</li>
                            </ul>
                            <img ng-if="item.image" class="img-responsive img-widen m-b-1" ng-src="{{item.image | imageUrl}}" alt="{{item.title}}" title="{{item.title}}" />
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section fs-table-scrollable" ng-if="vm.catalog.showTechnicalTable()">
        <div class="container-fluid">
            <h2 class="section-title text-primary text-center" translate="TECHNICAL.DATA"></h2>
            <div class="row scrollable-table-wrapper">
                <div class="col-xs-6 col-sm-4 col-md-3 p-r-0">
                    <a class="card card-sticky">
                        <table class="table js-data-table" data-ordering="false" data-paging="false" data-searching="false" data-info="false" data-auto-width="false" data-responsive="true">
                            <thead><tr><th class="table-center">&nbsp;</th></tr></thead>
                            <tbody>
                            <tr ng-repeat="attribute in vm.catalog.table.attributes">
                                <td><span class="td-headline">{{attribute.name}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-9 p-l-0">
                    <div class="js-slick-slider slick-content-slider js-full-width-slick-track"
                         data-slick='{"arrows": true, "appendArrows": ".scrollable-table-wrapper", "appendDots": ".scrollable-table-wrapper", "dots": true, "infinite": false, "speed": 500, "cssEase": "ease-in-out", "slidesToShow": 3, "slidesToScroll": 1, "responsive": [{ "breakpoint": 992, "settings": { "arrows": false, "slidesToShow": 2, "slidesToScroll": 2}}, { "breakpoint": 768, "settings": { "arrows": false, "slidesToShow": 1, "slidesToScroll": 1}}]}'>

                        <div class="card" ng-repeat="product in vm.catalog.table.products">
                            <table class="table js-data-table" data-ordering="false" data-paging="false" data-searching="false" data-info="false" data-auto-width="false" data-responsive="true">
                                <thead>
                                <tr>
                                    <th class="table-center">{{product.header}}</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="attribute in product.attributes" synchronize-height>
                                    <td>
                                        <span attribute-value="attribute" attribute-alt="product.name" attribute-title="product.name"></span>
                                        <span ng-if="attribute.unit != null">{{attribute.unit}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" ng-if="vm.catalog.showFootnotes()">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="footnotes">
                        <ol class="footnote-ordered-list" ng-if="vm.catalog.footnotes.type == 'list'">
                            <li ng-repeat="item in vm.catalog.footnotes.value.elements">{{item}}</li>
                        </ol>
                        <p class="footnote-paragraph" ng-if="vm.catalog.footnotes.type == 'string'">{{vm.catalog.footnotes.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</catalog-template>
