<catalog-template catalog-id="vm.catalogId">
    <div ng-repeat="section in vm.catalog.sections">
        <div ng-init="$section = section.params" ng-include="'section-' + section.name" data-section="{{section.name}}"></div>
    </div>
</catalog-template>

<script type="text/ng-template" id="section-KEYVISUAL">
<section class="section fs-keyvisual p-a-0">
    <div class="slide">
        <div class="slide-image slide-image-transparent-30">
            <img class="img-responsive" ng-src="{{$section.backgroundImgUrl | imageUrl: 'img-xlg'}}" alt="{{$section.name}}" title="{{$section.name}}">
        </div>
        <div class="slide-caption text-center">
            <h1 class="hl-1 slide-title" ng-if="$section.title">{{$section.title}}</h1>
            <p ng-if="$section.subtitle">{{$section.subtitle}}</p>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-CATEGORY_DESCRIPTION">
<section class="section fs-headline" ng-if="$section.text">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>{{$section.text}}</p>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-TILES">
<section class="section fs-four-column-media-teaser" ng-if="vm.isArray($section.items)">
    <div class="container-fluid">
        <div class="flex-row">
            <a class="card col-xs-6 col-sm-4 col-md-3" ng-repeat="tile in $section.items" ocs-navigate="tile.catalogId">
                <img class="card-img-top img-responsive img-widen" ng-src="{{tile.imageUrl | imageUrl: 'img-md'}}" alt="{{tile.title}}" title="{{tile.title}}">
                <div class="card-block" ng-if="tile.title" equalize-teaser-height>
                    <div class="card-title hl-5">{{tile.title}}</div>
                    <p class="card-text">{{tile.subtitle}}</p>
                    <div class="card-block-link">
                        <span class="link-more" translate="MORE.DETAILS"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-LIST">
<section class="section fs-two-column-square-media-text">
    <div class="container-fluid bg-grey-light" ng-repeat="item in $section.items">
        <div class="flex-row">
            <div class="col-sm-4 col-media">
                <div class="relative-container" ng-if="item.new">
                    <div class="label-container small left">
                        <div class="label-wrapper-outer">
                            <div class="label-wrapper-inner">
                                <div class="label-content" translate="NEW.LABEL"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="img-responsive img-widen" ng-src="{{item.imageUrl | imageUrl: 'img-lg'}}" alt="{{item.title}}" title="{{item.title}}">
            </div>
            <div class="col-sm-8 col-text">
                <div class="product-type text-primary" ng-if="item.type">{{item.type}}</div>
                <div class="hl-3 column-title text-primary">
                    <a ng-if="!item.detailsHidden" ocs-navigate="item.catalogId">{{item.title}}</a>
                    <div ng-if="item.detailsHidden">{{item.title}}</div>
                </div>
                <p ng-if="!vm.isArray(item.subtitle)">{{item.subtitle}}</p>
                <ul ng-if="vm.isArray(item.subtitle)" class="children-list">
                    <li ng-repeat="bullet in item.subtitle">{{bullet}}</li>
                </ul>
                <ul class="list-inline button-list">
                    <li>
                        <a ng-if="!item.detailsHidden" class="btn btn-primary" ocs-navigate="item.catalogId"><span translate="MORE.DETAILS"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-LIST_CARD">
<section class="section fs-two-column-media-text" ng-repeat="item in $section.items">
    <div class="container-fluid">
        <div class="row">
            <a ng-if="!item.detailsHidden" class="card" ocs-navigate="item.catalogId" ng-include="'product-card-image'"></a>
            <div ng-if="item.detailsHidden" class="card" ng-include="'product-card-image'"></div>

            <div class="col-sm-6 col-text">
                <a ng-if="!item.detailsHidden" class="card" ocs-navigate="item.catalogId" ng-include="'product-card-details'"></a>
                <div ng-if="item.detailsHidden" class="card" ng-include="'product-card-details'"></div>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="product-card-image">
    <div class="col-sm-6 col-media">
        <div class="relative-container" ng-if="item.new">
            <div class="label-container small left">
                <div class="label-wrapper-outer">
                    <div class="label-wrapper-inner">
                        <div class="label-content" translate="NEW.LABEL"></div>
                    </div>
                </div>
            </div>
        </div>
        <img class="img-responsive img-widen" ng-src="{{item.imageUrl | imageUrl: 'img-lg'}}" alt="{{item.title}}" title="{{item.title}}" />
    </div>
</script>

<script type="text/ng-template" id="product-card-details">
    <div class="product-type text-primary">{{item.type}}</div>
    <div class="hl-3 product-name text-primary">{{item.title}}</div>

    <ul class="product-benefits" ng-if="vm.isArray(item.subtitle)">
        <li ng-repeat="sub in item.subtitle track by $index" ng-if="sub">{{sub}}</li>
    </ul>
    <div ng-if="!vm.isArray(item.subtitle)">{{item.subtitle}}</div>

    <a class="link-more" ng-if="!item.detailsHidden" ocs-navigate="item.catalogId"><span translate="DETAILED_PRODUCT_DESCRIPTION"></span>&nbsp;{{item.title}}</a>
</script>

<script type="text/ng-template" id="section-PRODUCT_HEADER">
<section class="section fs-two-column-media-text-with-logo bg-grey">
    <div class="container-fluid">
        <div class="row" ng-if="$section.new">
            <div class="relative-container">
                <div class="label-container large right">
                    <div class="label-wrapper-outer">
                        <div class="label-wrapper-inner">
                            <div class="label-content" translate="NEW.LABEL"></div>
                        </div>
                    </div>
                    <div class="label-wrapper-outer">
                        <img class="" ng-src="{{vm.catalog.newImage}}" alt="" title="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-media">
                <div class="js-slick-slider slick-image-slider"
                     data-slick='{"arrows": false, "dots": true, "autoplay": true, "autoplaySpeed": 4000, "speed": 1000, "cssEase": "ease-in-out"}'
                     ng-init="productImages = [].concat($section.productImgUrl)">
                    <div class="slide" ng-repeat="image in productImages">
                        <img class="img-responsive img-widen" ng-src="{{image | imageUrl: 'img-lg'}}" alt="{{$section.productName}}" title="{{$section.productName}}">
                        <img class="img-overlay" ng-if="$section.energyEfficiency.image" ng-src="{{$section.energyEfficiency.image}}" />
                    </div>
                    <div class="slide" ng-if="$section.videoIds.length" ng-repeat="vid in $section.videoIds">
                        <div class="slide-image">
                            <cliplister video-id="vid"></cliplister>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-text">
                <div class="product-type">{{$section.productType}}</div>
                <h1 class="hl-2 product-name">{{$section.productName}}</h1>
                <p ng-bind-html="$section.subtitle"></p>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-TECHNICAL_INFORMATION">
<section class="section fs-two-column-headline-text bg-grey-dark bg-blue" ng-if="vm.hasAnyOfValues($section, ['list', 'link', 'description'])">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="hl-3 section-title">
                    <span ng-if="$section.title">{{$section.title}}</span>
                    <span ng-if="!$section.title" translate="TECHNICAL.INFORMATION" translate-default=""></span>
                </div>
                <a ng-if="$section.link" class="link-more" ng-href="{{$section.link | imageUrl}}" target="_blank">{{'PRODUCT.LEAFLET' | translate}}</a>
            </div>
            <div class="col-sm-offset-1 col-sm-8">
                <!--TODO Style depending on consumer (checklist, bullets)-->
                <ul class="technical-information-list" ng-if="vm.isArray($section.list)">
                    <li ng-repeat="info in $section.list track by $index" ng-if="info">{{info}}</li>
                </ul>
                <span ng-if="!vm.isArray($section.list) && !$section.description" ng-bind-html="$section.list"></span>
                <span ng-if="$section.description" ng-bind-html="$section.description"></span>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-MORE_INFORMATION">
<section class="section fs-two-column-icon-accordion" ng-if="vm.hasAnyOfValues($section, ['headlineDetails', 'items'])">
    <div class="container-fluid">
        <h2 class="section-title text-primary text-center">{{$section.headlineDetails}}</h2>
        <div id="acrd-872921587" class="accordion panel-group m-b-0" role="tablist" aria-multiselectable="true">
            <div class="panel" ng-repeat="item in $section.items">
                <div id="acrd-872921587-heading-{{$index}}" class="panel-heading" role="tab">
                    <h3 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acrd-872921587" data-target="#acrd-872921587-panel-{{$index}}"
                           aria-controls="acrd-872921587-panel-{{$index}}" aria-expanded="false">
                            {{item.subHeadline}}
                        </a>
                    </h3>
                </div>
                <div id="acrd-872921587-panel-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="acrd-872921587-heading-{{$index}}">
                    <article class="panel-body article">
                        <p ng-if="!vm.isArray(item.description)" ng-bind-html="item.description"></p>
                        <ul ng-if="vm.isArray(item.description)">
                            <li ng-repeat="el in item.description track by $index" ng-if="el">{{el}}</li>
                        </ul>
                        <div class="js-slick-slider slick-image-slider"
                             data-slick='{"arrows": false, "dots": true, "autoplay": true, "autoplaySpeed": 4000, "speed": 1000, "cssEase": "ease-in-out"}'
                             ng-init="images = [].concat(item.imageUrl)">
                            <div class="slide" ng-repeat="image in images" ng-if="image">
                                <img class="img-responsive img-widen m-b-1" ng-src="{{image | imageUrl}}" alt="{{item.title}}" title="{{item.title}}"/>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-TECHNICAL_DATA_TABLE_SLIDER">
<section section-technical-data-table="$section" class="section fs-table-scrollable" full-width-table>
    <div class="container-fluid">
        <h2 class="section-title text-primary text-center" translate="TECHNICAL.DATA"></h2>
        <div class="row scrollable-table-wrapper">
            <div class="col-xs-6 col-sm-4 col-md-3 p-r-0">
                <a class="card card-column card-sticky">
                    <table class="table js-data-table" data-ordering="false" data-paging="false" data-searching="false" data-info="false" data-auto-width="false" data-responsive="true">
                        <thead><tr><th class="table-center">&nbsp;</th></tr></thead>
                        <tbody>
                        <tr ng-repeat="attribute in $section.tableDefinition">
                            <td><span class="td-headline">{{attribute.value.name}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </a>
            </div>
            <div class="col-xs-6 col-sm-8 col-md-9 p-l-0">
                <div class="js-slick-slider slick-content-slider js-full-width-slick-track"
                     data-slick='{"arrows": true, "appendArrows": ".scrollable-table-wrapper", "appendDots": ".scrollable-table-wrapper",
                      "dots": true, "infinite": false, "speed": 500, "cssEase": "ease-in-out", "slidesToShow": 3, "slidesToScroll": 1, "responsive": [
                         { "breakpoint": 992, "settings": { "arrows": false, "slidesToShow": 2, "slidesToScroll": 2}},
                         { "breakpoint": 768, "settings": { "arrows": false, "slidesToShow": 1, "slidesToScroll": 1}}
                      ]}'
                     full-width-table>

                    <div class="card card-column" ng-repeat="product in $section.products" scrollable-table-card>
                        <table class="table js-data-table" data-ordering="false" data-paging="false" data-searching="false" data-info="false"
                               data-auto-width="false" data-responsive="true">
                            <thead>
                            <tr>
                                <th class="table-center">{{product.header.value}}</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="attribute in $section.tableDefinition" synchronize-height>
                                <td ng-init="value = product[attribute.key] || {}">
                                    <span attribute-value="value" attribute-alt="product.name" attribute-title="product.name"></span>
                                    <span ng-if="attribute.value.unit">{{attribute.value.unit}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-TECHNICAL_DATA_TABLE">
    <section section-technical-data-table="$section" class="section section-technical-table fs-table">
        <div class="container-fluid">
            <h2 class="hl-2 section-title text-primary text-center" translate="TECHNICAL.DATA"></h2>

            <table ocs-data-table="$section.products" odt-responsive-change="$ctrl.responsiveChange($event, $table, $columns)"
                   ng-repeat="partition in $section.partitions" class="table js-data-table" data-ordering="false"
                   data-paging="false" data-searching="false" data-info="false" data-auto-width="false" data-responsive="true">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th ng-repeat="attributes in partition">{{attributes.header.value}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="attribute in $section.tableDefinition">
                    <td>{{attribute.value.name}}&nbsp;</td>
                    <td ng-repeat="product in partition" ng-init="value = product[attribute.key]">
                        <span attribute-value="value" attribute-alt="product.name" attribute-title="product.name"></span>
                        <span ng-if="attribute.value.unit">{{attribute.value.unit}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</script>

<script type="text/ng-template" id="section-FOOTNOTES">
    <section class="section section-footnotes" ng-if="vm.hasAnyOfValues($section, ['list', 'value', 'labels.system', 'labels.product', 'labels.boiler'])">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="footnotes">
                        <div ng-if="$section.list && !vm.isArray($section.list)" ng-bind-html="$section.list"></div>
                        <ol class="footnote-ordered-list" ng-if="vm.isArray($section.list)">
                            <li ng-repeat="item in $section.list track by $index" ng-if="item">{{item}}</li>
                        </ol>
                        <p class="footnote-paragraph" ng-if="$section.value">{{$section.value}}</p>
                        <p ng-if="$section.labels.system" class="footnote-paragraph" translate="ERP_SYSTEM_LABEL"></p>
                        <p ng-if="$section.labels.product" class="footnote-paragraph" translate="ERP_PRODUCT_LABEL"></p>
                        <p ng-if="$section.labels.boiler" class="footnote-paragraph" translate="B1_BOILER_LABEL"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>

<script type="text/ng-template" id="section-RELATED_PRODUCTS">
<section class="section section-related fs-three-column-media-teaser bg-pattern" ng-if="vm.isArray($section.products)">
    <div class="container-fluid">
        <h2 class="hl-2 section-title text-primary text-center">{{::$section.title}}</h2>

        <div class="flex-row js-slick-slider slick-content-slider"
             data-slick='{"arrows": false, "dots": true, "infinite": false, "speed": 1000, "cssEase": "ease-in-out", "slidesToShow": 3, "slidesToScroll": 3, "responsive": [{ "breakpoint": 992, "settings": { "slidesToShow": 2, "slidesToScroll": 2}}, { "breakpoint": 768, "settings": { "slidesToShow": 1, "slidesToScroll": 1}}]}'>

            <a ng-repeat="related in $section.products" class="card col-xs-12 col-sm-6 col-md-4" ocs-navigate="related.categoryId">
                <img class="card-img-top img-responsive img-widen" ng-src="{{::related.componentImageUrl | imageUrl}}" alt="{{related.productName}}" title="{{related.productName}}">
                <div class="card-block text-wrap">
                    <h3 class="hl-4 card-title">{{::related.productName}}</h3>
                    <span class="link-more" translate="MORE.DETAILS"></span>
                </div>
            </a>
        </div>
    </div>
</section>
</script>

<script type="text/ng-template" id="section-EMBEDDED_CONTENT">
    <div ng-repeat="template in $section.templates" bind-html-compile="template"></div>
</script>

<script type="text/ng-template" id="section-SEO_TEXT">
<section ng-if="$section.seoText" class="section fs-category-text">
    <div class="container-fluid">
        <div class="row">
            <div ng-include="$section.seoText | imageUrl"></div>
        </div>
    </div>
</section>
</script>


<script type="text/ng-template" id="section-CATALOG_METADATA">
    <catalog-metadata data="$section"></catalog-metadata>
</script>
