<catalog-template catalog-id="vm.catalogId">
<div ng-if="vm.isCategory()">
    <section class="section fs-keyvisual p-a-0">
        <div class="slide">
            <div class="slide-image slide-image-transparent-30">
                <img class="img-responsive" ng-src="{{vm.catalog.keyVisual.value | imageUrl: 'keyvisual'}}" alt="{{vm.catalog.name.value}}" title="{{vm.catalog.name.value}}">
            </div>
            <div class="slide-caption text-center">
                <h1 class="hl-1 slide-title">{{vm.catalog.name.value}}</h1>
                <p>{{vm.catalog.descriptionShort.value}}</p>
            </div>
        </div>
    </section>
    <!-- END Keyvisual -->

    <section class="section fs-headline">
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>{{vm.catalog.descriptionLong.value}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END Headline -->
</div>

<div ng-if="vm.isCategory() && vm.catalog.type.value != 'leaf_category'">
    <section class="section fs-four-column-media-teaser">
        <div class="container-fluid">
            <div class="flex-row">
                <a class="card col-xs-6 col-sm-4 col-md-3" ng-repeat="childrenCategory in vm.catalog.children" ocs-navigate="childrenCategory.id.value">
                    <img class="card-img-top img-responsive img-widen" ng-src="{{childrenCategory.categoryImage.value | imageUrl: 'category'}}" alt="{{childrenCategory.name.value}}"
                         title="{{childrenCategory.name.value}}">
                    <div class="card-block" ng-if="childrenCategory.headline" equalize-teaser-height>
                        <div class="card-title hl-4 text-wrap">{{childrenCategory.headline.value}}</div>
                        <p class="card-text">{{childrenCategory.descriptionShort.value}}</p>
                    </div>
                    <div class="card-block-link">
                        <span class="link-more" translate="MORE.DETAILS"></span>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- END 4-Column-Media-Teaser -->
</div>

<div ng-if="vm.catalog.type.value == 'leaf_category'">
    <section class="section fs-two-column-square-media-text">
        <div class="container-fluid bg-grey-light" ng-repeat="childrenProduct in vm.catalog.children">
            <div class="flex-row">
                <div class="col-sm-4 col-media">
                    <div class="relative-container" ng-if="childrenProduct.new.value">
                        <div class="label-container small left">
                            <div class="label-wrapper-outer">
                                <div class="label-wrapper-inner">
                                    <div class="label-content" translate="NEW.LABEL"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="img-responsive img-widen" ng-src="{{childrenProduct.productcategoryimage.value | imageUrl: 'product'}}" alt="{{childrenProduct.name.value}}"
                         title="{{childrenProduct.name.value}}">
                </div>
                <div class="col-sm-8 col-text">
                    <div class="hl-3 column-title text-primary">
                        <a ocs-navigate="childrenProduct.id.value">{{childrenProduct.productname.value}}</a>
                    </div>
                    <ul class="checklist">
                        <li ng-repeat="highlight in childrenProduct.highlightCatOverview.value.elements">{{highlight}}</li>
                    </ul>
                    <ul class="list-inline button-list">
                        <li><a class="btn btn-primary" ocs-navigate="childrenProduct.id.value">{{'MORE.DETAILS' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END 2-Column-Media-Text -->
</div>

<div ng-if="vm.catalog.type.value == 'product_details'">
    <section class="section fs-two-column-media-text-with-logo bg-grey">
        <div class="container-fluid">
            <div class="row" ng-if="vm.catalog.neuheitOcs.value">
                <div class="relative-container">
                    <div class="label-container large right">
                        <div class="label-wrapper-outer">
                            <div class="label-wrapper-inner">
                                <div class="label-content" translate="NEW.LABEL"></div>
                            </div>
                        </div>
                        <div class="label-wrapper-outer">
                            <img class="" src="/media/images/arbonia_1.jpg" alt="" title="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-media">
                    <div class="js-slick-slider slick-image-slider"
                         data-slick='{"arrows": false, "dots": true, "autoplay": true, "autoplaySpeed": 4000, "speed": 1000, "cssEase": "ease-in-out"}'>
                        <div class="slide">
                            <img class="img-responsive img-widen" ng-src="{{vm.catalog.productimage.value | imageUrl: 'product'}}" alt="{{vm.catalog.productname.value}}" title="{{vm.catalog.productname.value}}">
                            <img class="img-overlay" ng-if="vm.catalog.mainErpLabel" ng-src="{{vm.catalog.mainErpLabel.value}}" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-text">
                    <h1 class="hl-2 product-name">{{vm.catalog.productname.value}}</h1>
                    <p>{{vm.catalog.descriptionShort.value}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END 2-Column-Media-Text -->
    <section class="section fs-two-column-headline-text bg-grey-dark" ng-if="vm.catalog.highlights.value.elements.length">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="section-title" translate="TECHNICAL.INFORMATION"></h2>
                </div>
                <div class="col-sm-8">
                    <ul class="checklist">
                        <li ng-repeat="highlight in vm.catalog.highlights.value.elements">{{highlight}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END 2-Column-Headline-Text -->
    <section class="section fs-two-column-icon-accordion" ng-if="vm.catalog.subheadlines.length > 0">
        <div class="container-fluid">
            <h2 class="section-title text-primary text-center">{{vm.catalog.headlineOverview.value}}</h2>
            <div id="acrd-872921587" class="accordion panel-group m-b-0" role="tablist" aria-multiselectable="true">
                <div class="panel" ng-repeat="subheadline in vm.catalog.subheadlines">
                    <div id="acrd-872921587-heading-1" class="panel-heading" role="tab">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acrd-872921587" data-target="#acrd-872921587-panel-1"
                               aria-controls="acrd-872921587-panel-1" aria-expanded="false">
                                {{subheadline.title}}
                            </a>
                        </h3>
                    </div>
                    <div id="acrd-872921587-panel-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="acrd-872921587-heading-1">
                        <article class="panel-body article" ng-repeat="detailsDesc in subheadline.description">
                            <p>{{detailsDesc}}</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section fs-table-scrollable" ng-if="vm.isNotEmpty()">
        <div class="container-fluid">
            <h2 class="section-title text-primary text-center" translate="TECHNICAL.DATA"></h2>
            <div class="row scrollable-table-wrapper">
                <div class="col-xs-6 col-sm-4 col-md-3 p-r-0">
                    <a class="card card-sticky">
                        <table class="table js-data-table" data-ordering="false" data-paging="false" data-searching="false" data-info="false" data-auto-width="false" data-responsive="true">
                            <thead><tr><th class="table-center">&nbsp;</th></tr></thead>
                            <tbody>
                            <tr ng-repeat="attribute in vm.catalog.productTableDefinition.value.elements | filter: vm.anyProductHasAttribute | filter: vm.isNotHeaderAttribute">
                                <td><span class="td-headline">{{attribute.name}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-9 p-l-0">
                    <div class="js-slick-slider slick-content-slider"
                         data-slick='{"arrows": true, "appendArrows": ".scrollable-table-wrapper", "appendDots": ".scrollable-table-wrapper", "dots": true, "infinite": false, "speed": 500, "cssEase": "ease-in-out", "slidesToShow": 3, "slidesToScroll": 1, "responsive": [{ "breakpoint": 992, "settings": { "arrows": false, "slidesToShow": 2, "slidesToScroll": 2}}, { "breakpoint": 768, "settings": { "arrows": false, "slidesToShow": 1, "slidesToScroll": 1}}]}'>

                        <div class="card" ng-repeat="detailsTableColumn in vm.detailsTable" scrollable-table-card>
                            <table class="table js-data-table" data-ordering="false" data-paging="false" data-searching="false" data-info="false"
                                   data-auto-width="false" data-responsive="true">
                                <thead>
                                <tr>
                                    <th class="table-center">{{vm.takeFirstHeaderAttributeWithValue(detailsTableColumn.children).value}}</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="detailsTableRow in detailsTableColumn.rows | filter: vm.anyProductHasValue" scrollable-table-card>
                                    <td>
                                        <span attribute-value="detailsTableRow" attribute-alt="detailsTableColumn.children.productname" attribute-title="detailsTableColumn.children.productname"></span>
                                        <span ng-if="detailsTableRow.unit != null">{{detailsTableRow.unit}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" ng-if="vm.catalog.footnotesTechData">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="footnotes">
                        <ol class="footnote-ordered-list" ng-if="vm.catalog.footnotesTechData.type == 'list'">
                            <li ng-repeat="item in vm.catalog.footNotesTechData.value.elements">{{item}}</li>
                        </ol>
                        <p class="footnote-paragraph" ng-if="vm.catalog.footnotesTechData.type == 'string'">{{vm.catalog.footnotesTechData.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

<div ng-if="vm.catalog.type.value == 'toolfinder'" ng-controller="ProductFinderController as vm">
    <section class="section fs-keyvisual p-a-0">
        <div class="slide">
            <div class="slide-image slide-image-transparent-30">
                <img class="img-responsive" ng-src="{{vm.selected.keyvisual | imageUrl: 'keyvisual'}}" alt="{{vm.selected.name.value}}" title="{{vm.selected.name.value}}">
            </div>
            <div class="slide-caption text-center">
                <h2 class="hl-1 slide-title">{{vm.selected.name.value}}</h2>
                <p class="hl-6">{{vm.selected.descriptionShort.value}}</p>
            </div>
        </div>
    </section>
    <section class="section fs-progress-bar bg-blue">
        <div class="container-fluid">
            <h2 class="section-title hl-4">{{vm.selected.descriptionLong.value}}</h2>
            <div class="progress-container">
                <div class="progress">
                    <div class="progress-bar {{'progress-' + (25 * vm.selection.length)}}" role="progressbar" aria-valuenow="{{25 * vm.selection.length}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="circle-container">
                    <div ng-repeat="level in vm.levels" class="step-circle" ng-class="{active: level <= vm.selection.length + 1}"><span>{{level}}</span></div>
                </div>
                <div class="filter-container">
                    <span class="selection" translate="YOUR.SELECTION"></span>
                    <ul class="filter list-inline">
                        <li ng-if="!vm.selection.length">&ndash;</li>
                        <li ng-repeat="item in vm.selection">
                            <span>{{item.name.value}}</span>
                            <button ng-click="vm.remove(item)" type="button" class="btn icon-cancel"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section fs-four-column-product-category" ng-if="!vm.isCompleted()">
        <div class="container-fluid">
            <div class="row">
                <a class="card col-xs-6 col-sm-4 col-md-3" target="_self" ng-repeat="child in vm.selected.children" ng-click="vm.select(child.id.value)">
                    <img class="card-img-top img-responsive img-widen" ng-src="{{child.categoryImage.value | imageUrl: 'category'}}" alt="{{child.name.value}}" title="{{child.name.value}}">
                    <div class="card-block">
                        <p class="hl-6 card-text">{{child.name.value}}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section ng-if="vm.isCompleted()" class="section fs-filter-finder">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="section-title hl-4" translate="YOUR.SELECTION.COUNT" translate-values="{count: vm.selected.children.length || 0}"></h3>
                </div>
                <div class="col-sm-4">
                    <ul class="list-inline button-list text-sm-right">
                        <li>
                            <button type="button" class="btn btn-default" ng-click="vm.reset()" translate="RESET.PRODUCT.FINDER"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section ng-if="vm.isCompleted()" class="section fs-two-column-square-media-text">
        <div class="container-fluid bg-grey-light" ng-repeat="item in vm.selected.children">
            <div class="flex-row">
                <div class="col-sm-4 col-media">
                    <div class="relative-container" ng-if="item.new">
                        <div class="label-container small left">
                            <div class="label-wrapper-outer">
                                <div class="label-wrapper-inner">
                                    <div class="label-content" translate="NEW.LABEL"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="img-responsive img-widen" ng-src="{{item.categoryImage.value | imageUrl: 'category'}}" alt="{{item.name.value}}" title="{{item.name.value}}">
                </div>
                <div class="col-sm-8 col-text">
                    <h3 class="hl-3 column-title text-primary">{{item.name.value}}</h3>
                    <ul class="checklist">
                        <li ng-repeat="bullet in item.highlights track by $index">{{bullet}}</li>
                    </ul>
                    <ul class="list-inline button-list">
                        <li><a class="btn btn-primary" ocs-navigate="vm.getProductFamily(item)">{{'MORE.DETAILS' | translate}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
</catalog-template>
