@charset 'utf-8';

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-Light.eot');
	src: url('../fonts/bosch-sans/BoschSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-Light.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-Light.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-Light.svg#BoschSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-LightItalic.eot');
	src: url('../fonts/bosch-sans/BoschSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-LightItalic.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-LightItalic.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-LightItalic.svg#BoschSans-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-Regular.eot');
	src: url('../fonts/bosch-sans/BoschSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-Regular.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-Regular.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-Regular.svg#BoschSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-RegularItalic.eot');
	src: url('../fonts/bosch-sans/BoschSans-RegularItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-RegularItalic.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-RegularItalic.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-RegularItalic.svg#BoschSans-RegularItalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-Medium.eot');
	src: url('../fonts/bosch-sans/BoschSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-Medium.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-Medium.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-Medium.svg#BoschSans-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-MediumItalic.eot');
	src: url('../fonts/bosch-sans/BoschSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-MediumItalic.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-MediumItalic.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-MediumItalic.svg#BoschSans-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-Bold.eot');
	src: url('../fonts/bosch-sans/BoschSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-Bold.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-Bold.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-Bold.svg#BoschSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-BoldItalic.eot');
	src: url('../fonts/bosch-sans/BoschSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-BoldItalic.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-BoldItalic.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-BoldItalic.svg#BoschSans-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-Black.eot');
	src: url('../fonts/bosch-sans/BoschSans-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-Black.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-Black.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-Black.svg#BoschSans-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Bosch Sans';
	src: url('../fonts/bosch-sans/BoschSans-BlackItalic.eot');
	src: url('../fonts/bosch-sans/BoschSans-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/bosch-sans/BoschSans-BlackItalic.woff') format('woff'), url('../fonts/bosch-sans/BoschSans-BlackItalic.ttf') format('truetype'), url('../fonts/bosch-sans/BoschSans-BlackItalic.svg#BoschSans-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}


@font-face {
	font-family: 'Bosch-TT-2017-05-16';
	src: url('../fonts/Bosch-TT-2017-05-16/Bosch-TT-2017-05-16.eot?60ncvu');
	src: url('../fonts/Bosch-TT-2017-05-16/Bosch-TT-2017-05-16.eot?60ncvu#iefix') format('embedded-opentype'),
	     url('../fonts/Bosch-TT-2017-05-16/Bosch-TT-2017-05-16.ttf?60ncvu') format('truetype'),
	     url('../fonts/Bosch-TT-2017-05-16/Bosch-TT-2017-05-16.woff?60ncvu') format('woff'),
	     url('../fonts/Bosch-TT-2017-05-16/Bosch-TT-2017-05-16.svg?60ncvu#Bosch-TT-2017-05-16') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Bosch-TT-2017-05-16' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-smartwatch:before {
  content: "\e958";
}
.icon-add:before {
  content: "\e916";
}
.icon-address-consumer-data:before {
  content: "\e938";
}
.icon-anchor:before {
  content: "\e939";
}
.icon-appointment:before {
  content: "\e93a";
}
.icon-calendar:before {
  content: "\e93b";
}
.icon-clock:before {
  content: "\e93c";
}
.icon-close:before {
  content: "\e93d";
}
.icon-compare:before {
  content: "\e93e";
}
.icon-confirmation:before {
  content: "\e93f";
}
.icon-connectedmobility:before {
  content: "\e940";
}
.icon-customer-service:before {
  content: "\e941";
}
.icon-dealer-details:before {
  content: "\e942";
}
.icon-delete:before {
  content: "\e943";
}
.icon-delivery:before {
  content: "\e944";
}
.icon-desktop:before {
  content: "\e945";
}
.icon-download:before {
  content: "\e946";
}
.icon-edit:before {
  content: "\e947";
}
.icon-externallink:before {
  content: "\e948";
}
.icon-facebook-circle:before {
  content: "\e949";
}
.icon-fax:before {
  content: "\e94a";
}
.icon-google-circle:before {
  content: "\e94b";
}
.icon-grid-view:before {
  content: "\e94c";
}
.icon-industrie4-1:before {
  content: "\e94d";
}
.icon-industrie4-2:before {
  content: "\e94e";
}
.icon-info-i:before {
  content: "\e94f";
}
.icon-linkedin-circle:before {
  content: "\e950";
}
.icon-list-view:before {
  content: "\e951";
}
.icon-list-view-mobile:before {
  content: "\e952";
}
.icon-logout:before {
  content: "\e953";
}
.icon-mobile:before {
  content: "\e954";
}
.icon-my-product:before {
  content: "\e955";
}
.icon-newsletter:before {
  content: "\e956";
}
.icon-payment:before {
  content: "\e957";
}
.icon-postcode:before {
  content: "\e959";
}
.icon-print:before {
  content: "\e95a";
}
.icon-problem:before {
  content: "\e95b";
}
.icon-promotion:before {
  content: "\e95c";
}
.icon-registration:before {
  content: "\e95d";
}
.icon-reset:before {
  content: "\e95e";
}
.icon-rotation .path1:before {
  content: "\e95f";
  color: rgb(0, 0, 0);
}
.icon-rotation .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-share:before {
  content: "\e962";
}
.icon-shopping-cart:before {
  content: "\e963";
}
.icon-smartcity:before {
  content: "\e964";
}
.icon-smart-home:before {
  content: "\e965";
}
.icon-store-locator:before {
  content: "\e968";
}
.icon-summary:before {
  content: "\e969";
}
.icon-tablet:before {
  content: "\e96a";
}
.icon-telefon:before {
  content: "\e96b";
}
.icon-tumblr-circle:before {
  content: "\e96c";
}
.icon-twitter-circle:before {
  content: "\e96d";
}
.icon-vine-circle:before {
  content: "\e96e";
}
.icon-wishlist2:before {
  content: "\e96f";
}
.icon-xing-circle:before {
  content: "\e970";
}
.icon-youtube-circle:before {
  content: "\e971";
}
.icon-zoomin:before {
  content: "\e972";
}
.icon-zoomout:before {
  content: "\e973";
}
.icon-minus:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-air-conditioner:before {
  content: "\e990";
}
.icon-boilers:before {
  content: "\e988";
}
.icon-cold-water:before {
  content: "\e989";
}
.icon-controls:before {
  content: "\e917";
}
.icon-electro-boilers:before {
  content: "\e918";
}
.icon-floor-heating:before {
  content: "\e919";
}
.icon-floor-standing-boilers:before {
  content: "\e91a";
}
.icon-gas:before {
  content: "\e91b";
}
.icon-gas-appliances-to-100kw:before {
  content: "\e91c";
}
.icon-gas-boilers:before {
  content: "\e91d";
}
.icon-heating:before {
  content: "\e91e";
}
.icon-heat-pumps:before {
  content: "\e91f";
}
.icon-heat-pumps-split:before {
  content: "\e920";
}
.icon-heat-recovery-ventilation:before {
  content: "\e921";
}
.icon-hot-water:before {
  content: "\e922";
}
.icon-installer:before {
  content: "\e923";
}
.icon-oil:before {
  content: "\e924";
}
.icon-oil-boilers:before {
  content: "\e925";
}
.icon-partner:before {
  content: "\e926";
}
.icon-photovoltaik-cells:before {
  content: "\e927";
}
.icon-photovoltaik-systems:before {
  content: "\e928";
}
.icon-retailer:before {
  content: "\e929";
}
.icon-route-a:before {
  content: "\e92a";
}
.icon-route-b:before {
  content: "\e92b";
}
.icon-service:before {
  content: "\e92c";
}
.icon-solar-thermal-systems:before {
  content: "\e92d";
}
.icon-solid-fuel-boilers:before {
  content: "\e92e";
}
.icon-stationary-boilers-up-to-60kw:before {
  content: "\e92f";
}
.icon-sun:before {
  content: "\e930";
}
.icon-ventilation-systems:before {
  content: "\e931";
}
.icon-wall-mounted-boilers:before {
  content: "\e932";
}
.icon-wall-mounted-condensing-gas-boilers:before {
  content: "\e933";
}
.icon-wall-mounted-condensing-gas-boilers-above-50-kw:before {
  content: "\e934";
}
.icon-wall-mounted-condensing-gas-boilers-to-50-kw:before {
  content: "\e935";
}
.icon-water:before {
  content: "\e936";
}
.icon-wholesaler:before {
  content: "\e937";
}
.icon-check:before {
  content: "\e900";
}
.icon-comfort:before {
  content: "\e901";
}
.icon-contact:before {
  content: "\e902";
}
.icon-energy-cost:before {
  content: "\e903";
}
.icon-environment:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-leaflet:before {
  content: "\e907";
}
.icon-link-arrow-bottom:before {
  content: "\e908";
}
.icon-link-arrow-left:before {
  content: "\e909";
}
.icon-link-arrow-right:before {
  content: "\e90a";
}
.icon-link-arrow-top:before {
  content: "\e90b";
}
.icon-scroll-up:before {
  content: "\e90c";
}
.icon-cancel:before {
  content: "\e90d";
}
.icon-profile:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-system:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e911";
}
.icon-youtube:before {
  content: "\e912";
}
.icon-wishlist:before {
  content: "\e913";
}

.icon-bosch-ic-fax:before {
  content: "\e961";
}
.icon-bosch-tt-ic-phone:before {
  content: "\e966";
}

.icon-bosch-tt-ic-geothermal-heat-pump:before {
  content: "\e967";
}
